'.source.elm':
  'editor':
    'autoIndentOnPaste': false
    'commentStart': '-- '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ .* \\( [^\\)"\']* $
      |^ \\s* \\{ \\} $
      '
    'decreaseIndentPattern': '(?x)
       ^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\}
      |^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\)
      '
    'tabLength': 4
    'softTabs': true
    'preferredLineLength': 80
  'bracket-matcher':
    autocompleteCharacters: [
      '()'
      '[]'
      '{}'
      '\'\''
      '""'
      '``'
    ]
